{% load i18n %}
<button class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
  <input type="search" id="nav-filter"
         placeholder="{% translate 'Nhập để lọc…' %}"
         aria-label="{% translate 'Lọc ứng dụng' %}">
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
